# =========================================
# ========== DATABASE CONFIGURATION =======
# =========================================
spring.datasource.url=jdbc:postgresql://localhost:5432/yr_db
spring.datasource.username=yr_db_username
spring.datasource.password=yr_db_password
spring.jpa.hibernate.ddl-auto=update
#spring.jpa.show-sql=true
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect

# =========================================
# ========== JWT CONFIGURATION ============
# =========================================
spring.jwt.access-token-expiration=900
spring.jwt.refresh-token-expiration=604800
spring.jwt.secret=yr-secret-key

# =========================================
# ========== OTP CONFIGURATION ============
# =========================================
otp.length=6
otp.expiration.minutes=10

# =========================================
# ========== EMAIL CONFIGURATION ==========
# =========================================
spring.mail.host=smtp.gmail.com
spring.mail.port=587
spring.mail.username=username@gmail.com
spring.mail.password=yr_app_password
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true
spring.mail.properties.mail.smtp.starttls.required=true

# Optional sender email name
spring.mail.default-encoding=UTF-8

# =========================================
# ========== LOGGING ======================
# =========================================
logging.level.org.springframework=INFO
logging.level.com.naome.eucl=DEBUG

# =========================================
# ========== SCHEDULING ===================
# =========================================
spring.main.allow-bean-definition-overriding=true
spring.task.scheduling.pool.size=5
